volumes:
    auth-mariadb-data:

services:
    mariadb:
        image: mariadb:11.7
        container_name: auth-mariadb
        environment:
            MARIADB_ROOT_PASSWORD: ${MARIADB_ROOT_PASSWORD}
            MARIADB_DATABASE: ${MARIADB_DATABASE}
            MARIADB_USER: ${MARIADB_USER}
            MARIADB_PASSWORD: ${MARIADB_PASSWORD}
        ports:
            - "3307:3306"
        volumes:
            - auth-mariadb-data:/var/lib/mysql
